.modal {
    position: fixed;
    top: 30vh;
    width: 50%;
    left: 25%;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    padding: 1rem;
    z-index: 100;
    background: white;
    height: 500px;
    overflow-y: scroll;
}