.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem;
}

.item-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.item-details h3 {
    margin: 0;
}

.price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-weight: bold;
    color: saddlebrown;
}

.item-qty {
    padding: 8px;
    background: #eee;
    margin-left: 8px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    background-color: white;
    border-color: #8a2b06;
    margin: 4px;
    border-radius: 8px;
    color: #8a2b06;
    font-weight: bold;
    padding: 4px 16px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #8a2b06;
    color: white;
}